<footer class="footer-color text-white py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="mb-0 text-center group">&copy; Derechos de autor 2023</p>
            </div>
            <div class="col-md-4 text-center">
                <a class="d-block mb-2 link-colors" href="#">Volver al inicio</a>
            </div>
            <div class="col-md-4 text-center">
                <div class="social-icons">
                    <a href="#" class="me-2 social-icons m-3" target="_blank">
                        <img src="/images/twitter.png" alt="Facebook"/>
                    </a>
                    <a href="#" class="me-2 social-icons m-3" target="_blank">
                        <img src="/images/facebook.png" alt="Twitter"/>
                    </a>
                    <a href="#" class="me-2 social-icons m-3" target="_blank">
                        <img src="/images/instagram.png" alt="Instagram"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
